{% extends 'base.html' %}

{% block title %}<title>Register</title>{% endblock %}

<!--protect-->
{% block content %}
<div class="pt-4 pb-5 form">
  <div class="form-ryobi">
	<h2>Register</h2>
	<div class="pb-3 register-form">
		<form method="post" class="pt-4">
			{% csrf_token %}
      <div class="d-flex flex-column register-form">
        {{ form.username.label_tag }} {{ form.username }}
			<!--protect-->
			{{ form.email.label_tag }} {{ form.email }}
      {% if form.errors.email %}
            <span class="text-danger">{{ form.errors.email }}</span>
      {% endif %}
			<!--protect-->
      <label for="email">Password:</label>
			{{ form.password1 }}
      {% if form.errors.password1 %}
            <span class="text-danger">{{ form.errors.password1 }}</span>
      {% endif %}
			<!--protect-->
      <label for="password">Confirm Password:</label>
		  {{ form.password2 }}
      {% if form.errors.password2 %}
            <span class="text-danger">{{ form.errors.password2 }}</span>
      {% endif %}
			<div class="pt-4 pb-3">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</form>
  </div>
	</div>
</div>
{% endblock %}
