:root {
  --colorYellow: #e1e723;
  --colorBlack: black;
  --colorGray: #5a5a5a;
  --colorWhite: white;
}

/* body element styling/common color styling/ misc elements */

body {
}

.gray-background-color {
  background-color: var(--colorGray);
}

.white-text-color {
  color: var(--colorWhite);
}

.yellow-green-background-color {
  background-color: var(--colorYellow);
}

.black-text-color {
  color: var(--colorBlack);
}

/* setting styles for navbar on top and footer */

ul li {
  list-style-type: none;
}
li a {
  color: var(--colorBlack);
}

li a:hover {
  color: var(--colorGray);
}

/* home page styling */

.home-page-content {
  padding: 2rem 2rem;
}
