/* body element styling/common color styling/ misc elements */

body {
}

.gray-background-color {
  background-color: #5a5a5a;
}

.white-text-color {
  color: white;
}

.yellow-green-background-color {
  background-color: #e1e723;
}

.black-text-color {
  color: black;
}

/* setting styles for navbar on top and footer */

ul li {
  list-style-type: none;
}
li a {
  color: black;
}

li a:hover {
  color: #5a5a5a;
}
