{% extends 'base.html' %}
<!--protect-->
{% block title %}<title>Tools Home</title>{% endblock %}

<!--protect-->
{% block content %}
<div class="home-page-content pt-4">
  <h2>Cory's Tools Home</h2>
  <p class="text-with-border"><span>Social Media</span></p>
  <div>
    <ul>
      <li>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-square-github"></i></a>
      </li>
    </ul>
  </div>
</div>
{% endblock%}
